.footer {
  position: relative;
  bottom: 0;
  width: 100%;

  text-align: center;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  font-size: 13.5px;

  &__text{
    margin-top: 45px;
  }

  .logo {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}