$red: rgb(219, 8, 8);
$black: #464646;
$light-grey: #e7e7e7;
$white: #FFFFFF;

@mixin for-phone-only {
  @media (max-width: 767.98px) { @content; }
}

@import 'main', 'header', 'footer', 'logo', 'banner', 'product', 'products';

body {
  margin: 0;
}